{% extends 'base.html' %}
{% block title %} Order details {{ order.id }} {% endblock %}

{% block content %}
{% include 'orders/order_form_template.html' %}
<ul>
  {% for comment in order.comments.all %}
    <li> {{comment.text}} </li>
  {% endfor %}
</ul>
<form action="{% url 'orders:create_comment' order.id %}" method="post">
  {% csrf_token %}
  {% with form=comment_form %}
    {% include 'orders/comment_form_template.html' %}
  {% endwith %}
  <input type="submit" value="Comment">
</form>
{% endblock %}
